@import  "jekyll-theme-prologue";

/* Basic */

a {
	&:hover {
		color: #e5e539
	}
}

/* Image */

.image {
	&.intro {
		width: 300px;
		height: 300px;

		img {
			width: 300px;
			height: 300px;
		}
	}
	&.avatar48 {
		background: none;
	}
}

/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
	color: #e5e539 !important;
	background-color: #41484c;

	&:hover {
		color: #41484c!important;
		background-color: #e5e539;
	}

	&:active {
		color: #41484c!important;
		background-color: #e5e539;
	}

	&.reversed {
		color: #41484c !important;
		background-color: #e5e539;

		&:hover {
			color: #e5e539!important;
			background-color: #41484c;
		}

		&:active {
			color: #e5e539!important;
			background-color: #41484c;
		}
	}
}

/* Header */

#nav {
	ul {
		li {
			a {
				&.active {
					span::before {
						color: #e5e539;
					}
				}
			}
		}
	}
}
