$light: #fff;
$primary-color: #41484c;
$secondary-color: #e5e53e;
$success: #1bbb1b;
$black: #000;
$alert:#c7254e;
$border-color:#F5fafa;
$primary-font:'Roboto', sans-serif;
$secondary-font:'Volkhov', serif;
$icon-font: 'themefisher-font';
